<h1>Create A User</h1>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :wallet_amount, "Inital Wallet Amount" %>
<%= f.number_field :wallet_amount %>
<%= f.submit "Create User" %>
<%end %>
