
<header> <h1> <%= @user.username %>'s profile </h1> </header>

<br>
<div class ="new_activity">
Wallet Amount: <%= @user.wallet_amount %>
<br>

<%= button_to "Add Funds", edit_user_path, class: "btn", method: :get %>

<%= button_to "View Activities", activities_path,class: "btn", method: :get %>

<%= button_to "Book Reservation", new_reservation_path,class: "btn", method: :get %>

<%= button_to "My Activities", user_activities_path,class: "btn", method: :get %>

<%= button_to "Logout", logout_path,class: "btn", method: :delete %>

</div>
