<h3>Edit Your Reservation</h3>

<%= form_for @reservation do |f| %>
<%= f.label :location %>
<%= f.text_field :location %>
<%= f.label :capacity %>
<%= f.number_field :capacity %>
<%= f.label :price %>
<%= f.number_field :price %>
<%= f.label :datetime %>
<%= f.text_field :datetime %>
<%= f.label :user_id %>
<%= f.number_field :user_id %>
<%= f.label :activity_id %>
<%= f.number_field :activity_id %>
<%= f.submit "Confirm Edit" %>
<% end %>
