<header> <h1>Book New Reservation</h1> </header>

<div class ="new_activity">
  <%= @message %>
<%= form_for @reservation do |f| %>
<%= f.hidden_field :location, :value =>  :location %>

<%= f.collection_select :activity_id, Activity.all, :id, :title, prompt: "Select Activity"%>
<%= f.hidden_field :capacity, :value => :capacity %> <br>
<%= f.hidden_field :price, :value =>  :price %>
<%= f.hidden_field :datetime, :value =>  :datetime %>
<%= f.hidden_field :user_id, :value => session[:user_id] %>
<br>
<br>
<%= f.submit "Confirm Reservation", class: "btn" %>
<% end %>
</div>
