<h1> <%= @activity.title %> <br> </h1>
<br>
<br>
Description: <%= @activity.description %> <br>

Location: <%= @activity.location %> <br>
Capacity: <%= @activity.capacity %> <br>
Price:    <%= @activity.price %>
<br>

<%= button_to "See Reviews", review_path(@review), method: :get%>

<%= button_to "Write a Review", new_review_path, method: :get%>
