<h1>Create Review</h1>

<div class ="new_activity">
<%= form_for @review do |f| %>
<%= f.label :content %>
<%= f.text_area :content %> <br>
<%= f.label :rating %>
<%= f.number_field :rating %> <br>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :activity_id %>
<br>
<%= f.submit "Create Review"%>
<% end %>
</div>
